/* page */

body {
	margin: 0;
}

#map-container {
	height: calc(100vh - 56px);
	width: 100%;
}

.nav-link {
	color: #c8102e;
	font-weight: bold;
}

/* map global */

.leaflet-control-layers-overlays b {
	/* font-size: 1.5em; */
}

.leaflet-popup-content h2 {
	font-size: 2em;
}

.leaflet-popup-content h3 {
	font-size: 1.5em;
}

.leaflet-control-layers-expanded {
	width: 200px;
}

.leaflet-layerstree-node {
	padding-left: 5px;
}

.titlecase {
	text-transform: capitalize;
}

/* cameras */

.cam-slideshow {
	margin: 16px;
}

.cam-hidden {
	display: none;
}

.slick-next:before, .slick-prev:before {
	color: #222222;
}

/* Routing */

.leaflet-routing-container-hide .leaflet-routing-collapse-btn {
	position: relative;
	top: 2px;
	left:-4px;
	display: block;
	width: 26px;
	height: 23px;
	font-size: 2em;
	background: none;
	text-align: center;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn:before {
	content: "\F002";  /* this is your text. You can also use UTF-8 character codes as I do here */
	font-family: "Font Awesome 5 Free";
	position:absolute;
	top:0;
	color: #000000;
}

.leaflet-routing-container-hide {
	width: 48px !important;
	height: 48px !important;
}

/* clusters */

.marker-cluster {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
	box-shadow:  3px -1px 3px #0000006e;
	border-style: solid;
	border-width: 1px;
}

.lime-cluster-small {
	background-color: #71af26;
	color: #FFFFFF;
	border-color: #44693d80;
}

.lime-cluster-med {
	background-color: #4C8C2B;
	color: #FFFFFF;
	border-color: #44693d80;
}

.lime-cluster-large {
	background-color: #44693D;
	color: #FFFFFF;
	border-color: #2a412580;
}

/* colors */

.p-orange { /*popup colors from AwesomeMarkers*/
	color: #f59630;
}

.p-red {
	color: #d23d29;
}

.p-blue {
	color: #37a8da;
}

.p-green {
	color: #71af26;
}

.p-darkgreen {
	color: #728224;
}

.c-red { /*CoC colors*/
	color: #c8102e;
}

.c-green {
	color: #4C8C2B;
}

.c-blue {
	color: #0085AD;
}
